textarea {
    resize: none;
    width: 18.4375em;
    /* 295px / 16 */
    height: 12.5em;
    /* 200px / 16 */
}

/* スクロールバー非表示（Chrome・Safari） */
textarea::-webkit-scrollbar {
    display: none;
}

/* スクロールバー非表示（Firefox） */
textarea {
    scrollbar-width: none;
}

/* スクロールバー非表示（IE、Edge） */
textarea {
    -ms-overflow-style: none;
}

/*スクロールバー非表示（Chrome・Safari）*/
.textarea::-webkit-scrollbar {
    display: none;
}

.wrap {
    display: flex;
    justify-content: space-around;
}

.TextareaWrapper {
    width: 100%;
    max-width: 25em;
    /* 400px / 16 */
}


.Textarea_a {
    padding: 0.625em;
    width: 19.375em;
    /* 310px / 16 */
    height: 14.375em;
    /* 230px / 16 */
    resize: none;
}

.Textarea_b {
    padding: 0.625em;
    width: 19.375em;
    height: 5em;
    resize: none;
}

.Textarea_1 {
    padding: 0.625em;
    width: 6.875em;
    height: 20em;
    resize: none;
}

.Textarea_2 {
    padding: 0.625em;
    width: 10.3125em;
    /* 165px / 16 */
    height: 14.375em;
    /* 230px / 16 */
    resize: none;
}

.Textarea_3 {
    padding: 0.625em;
    width: 8.125em;
    height: 14.375em;
    resize: none;
}

.Textarea_4 {
    padding: 0.625em;
    width: 27.8125em;
    /* 445px / 16 */
    height: 5em;
    /* 80px / 16 */
    resize: none;
}


.grid-container {
    display: grid;
    grid-template-columns: 6.875em 19.375em 10.3125em 8.125em 8.125em;
    grid-template-rows: 2.5em 14.375em 5em;
    gap: 0.625em;
}

.itema {
    /* start / end */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.itemb {
    /* start / end */
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.itemc {
    /* start / end */
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.itemd {
    /* start / end */
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.iteme {
    /* start / end */
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}

.item1 {
    /* start / end */
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.item2 {
    /* start / end */
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.item3 {
    /* start / end */
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.item4 {
    /* start / end */
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}


.item5 {
    /* start / end */
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

.item6 {
    /* start / end */
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.item7 {
    /* start / end */
    grid-column: 3 / 6;
    grid-row: 3 / 4;
}

.toggle_input {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.toggle_label {
    width: 2.8125em;
    /* 45px / 16 */
    height: 1.5625em;
    /* 25px / 16 */
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 2.5em;
    /* 40px / 16 */
    transition: 0.4s;
    box-sizing: border-box;
    /* float: right; */
}

.toggle_label:after {
    content: "";
    position: absolute;
    width: 1.5625em;
    /* 25px / 16 */
    height: 1.5625em;
    /* 25px / 16 */
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.2);
    /* 5px / 16 */
    transition: 0.4s;
}

.toggle_input:checked+.toggle_label {
    background-color: #4BD865;
}

.toggle_input:checked+.toggle_label:after {
    left: 1.25em;
    /* 20px / 16 */
}

.toggle_button {
    position: relative;
    width: 2.8125em;
    /* 45px / 16 */
    height: 1.5625em;
    /* 25px / 16 */
    margin: auto;
    float: left;
}

p {
    text-indent: 1em;
}



a {
    text-decoration: none;
    /* font-size: 1.5em; */
    /* Adjust the size as needed */
}

a.small {
    text-decoration: none;
    font-size: 0.75vw;
}

a.large {
    text-decoration: none;
    font-size: 1.2vw;
}

.original-button_submit {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.125em;
    /* 18px / 16 */
    border-radius: 0.5em;
    /* 8px / 16 */
    width: 5em;
    /* 80px / 16 */
    height: 2.5em;
    /* 40px / 16 */
    font-weight: bold;
    transition: 0.3s;
    background-color: #1976d2;
}

.original-button_submit:hover {
    opacity: .7;
}

.original-button_edit {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.125em;
    /* 18px / 16 */
    border-radius: 0.5em;
    /* 8px / 16 */
    width: 5em;
    /* 80px / 16 */
    height: 2.5em;
    /* 40px / 16 */
    font-weight: bold;
    transition: 0.3s;
    background-color: #908d8d;
}

.original-button_edit:hover {
    opacity: .7;
}

.original-button_delete {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.125em;
    /* 18px / 16 */
    border-radius: 0.5em;
    /* 8px / 16 */
    width: 5em;
    /* 80px / 16 */
    height: 2.5em;
    /* 40px / 16 */
    font-weight: bold;
    transition: 0.3s;
    background-color: #e53935;
}

.original-button_delete:hover {
    opacity: .7;
}

.list-9 {
    width: 50em;
    /* 800px / 16 */
    border: 0.125em solid #62b7f4;
    /* 2px / 16 */
    border-radius: 0.625em;
    /* 10px / 16 */
    list-style: none;
    padding: 0.8em 2em 0.8em;
    position: relative;
    margin: 1em 1em;
    /* Added margin for vertical spacing */
}

.list-9 li:first-child {
    padding-top: .5em;
}

.list-9 li:last-child {
    padding-bottom: .5em;
}

.list-9 li {
    padding: .5em;
}

.list-9 li:not(:last-child) {
    border-bottom: 0.0625em dashed #62b7f4;
    /* 1px / 16 */
}

.list-9 li::marker {
    color: #62b7f4;
    font-size: 1.1em;
}

span {
    white-space: nowrap;
}

.accordion-004 {
    max-width: 31.25em;
    /* 500px / 16 */
    margin-bottom: 0.4375em;
    /* 7px / 16 */
    border: 0.125em solid #bdbdbd;
    /* 2px / 16 */
    border-radius: 0.3125em;
    /* 5px / 16 */
}

.accordion-004 summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    color: #303030;
    font-weight: 600;
    cursor: pointer;
    text-indent: 0;
}

.accordion-004 summary::-webkit-details-marker {
    display: none;
}

.accordion-004 summary::before,
.accordion-004 summary::after {
    width: 0.1875em;
    /* 3px / 16 */
    height: 0.9em;
    border-radius: 0.3125em;
    /* 5px / 16 */
    background-color: #303030b3;
    content: '';
}

.accordion-004 summary::before {
    position: absolute;
    right: 2em;
    rotate: 90deg;
}

.accordion-004 summary::after {
    transition: rotate .3s;
}

.accordion-004[open] summary::after {
    rotate: 90deg;
}

.accordion-004 p {
    transform: translateY(-0.625em);
    /* 10px / 16 */
    opacity: 0;
    margin: 0;
    padding: .3em 2em 1.5em;
    color: #303030;
    transition: transform .5s, opacity .5s;
}

.accordion-004[open] p {
    transform: none;
    opacity: 1;
}

.tooltip-005 {
    display: inline-block;
    position: relative;
}

.tooltip-005 svg {
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.tooltip-005 p {
    display: flex;
    justify-content: flex-start;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 2.5em;
    /* 200px / 16 */
    left: 0;
    transform: translate(0, 0);
    padding: 0.5em 1em;
    border-radius: 0.1875em;
    /* 3px / 16 */
    background-color: #424242;
    color: #ffffff;
    font-size: 1em;
    white-space: nowrap;
    transition: opacity 0.3s;
    text-indent: 0;
    /* Added to prevent initial indent */
}

.tooltip-005:hover>p {
    visibility: visible;
    opacity: 1;
}

.tooltip-005 p::before {
    position: absolute;
    left: 0.625em;
    /* 10px / 16 */
    top: -0.375em;
    /* -6px / 16 */
    transform: translateX(0);
    width: 0.5625em;
    /* 9px / 16 */
    height: 0.375em;
    /* 6px / 16 */
    background-color: inherit;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    content: '';
}


.list-11 {
    font-size: large;
    list-style-type: disc;
    padding: 1em 1em 1em 2.5em;
    border-left: 0.3em solid #2589d0;
    background-color: #f2f2f2;
}

.list-11 li {
    padding: .3em .3em .3em 0;
}

.list-11 li::marker {
    color: #2589d0;
    font-size: 1.1em;
}


.toc-002 {
    margin-bottom: 1.875em;
    /* 30px / 16 */
    border: 0.125em solid #2589d0;
    /* 2px / 16 */
    border-radius: 0.1875em;
    /* 3px / 16 */
}

.toc-002 div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.625em 0;
    /* 10px / 16 */
    background-color: #2589d0;
    color: #fff;
    font-weight: 600;
    font-size: x-large;
}

.toc-002 div::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.3125em;
    /* 5px / 16 */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M8 4H21V6H8V4ZM3 3.5H6V6.5H3V3.5ZM3 10.5H6V13.5H3V10.5ZM3 17.5H6V20.5H3V17.5ZM8 11H21V13H8V11ZM8 18H21V20H8V18Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
    content: '';
}

.toc-002 ol {
    list-style-type: disc;
    margin: 0;
    overflow: hidden;
}

.toc-002>ol {
    padding: 1em 1em 1em 2.5em;
    /* Increased padding-left to ensure the bullet points remain visible */
}

.toc-002 ol ol {
    margin-top: 0.3125em;
    /* 5px / 16 */
    padding-left: 1.5em;
    /* Adjusted padding for nested lists */
}

.toc-002 li {
    padding: 0.3125em 0;
    /* 5px / 16 */
    font-weight: 600;
    font-size: 1.3em;
    /* Increased font size */
}

.toc-002 ol ol li {
    font-weight: 500;
    font-size: 0.8em;
    /* Adjusted font size for nested lists */
}

.toc-002 a {
    color: #333;
    text-decoration: none;
}

.heading-1 {
    padding: .5em .7em;
    border-left: 0.18em solid #2589d0;
    color: #333333;
}

.heading-22 {
    padding: .5em .7em;
    border-left: 0.18em solid #2589d0;
    background-color: #f2f2f2;
    color: #333333;
}

.list-2 {
    counter-reset: li;
    font-size: larger;
}

.list-2 li {
    display: flex;
    align-items: center;
    padding: .3em;
}

.list-2 li::before {
    display: inline-block;
    /* font-size: 1em; */
    min-width: 1.7em;
    margin-right: 0;
    margin-left: 0;
    border-radius: 50%;
    background-color: #ea3e3e;
    color: #fff;
    font-weight: bold;
    font-size: .75vw;
    line-height: 1.7em;
    text-align: center;
    content: counter(li);
    counter-increment: li;
    position: relative;
    top: 0.3em;
    /* Adjust this value to move the red circle up */
}

.accordion-003 {
    margin-bottom: 0.4375em;
    /* 7px / 16 */
    border-bottom: 0.125em solid #d0d0d0;
    /* 2px / 16 */
}

.accordion-003 summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    color: #333333;
    font-weight: 600;
    cursor: pointer;
}

.accordion-003 summary::-webkit-details-marker {
    display: none;
}

.accordion-003 summary::before,
.accordion-003 summary::after {
    width: 0.125em;
    /* 2px / 16 */
    height: 0.5625em;
    /* 9px / 16 */
    border-radius: 0.3125em;
    /* 5px / 16 */
    background-color: #333333b3;
    content: '';
}

.accordion-003 summary::before {
    position: absolute;
    right: 2em;
    rotate: 90deg;
}

.accordion-003 summary::after {
    transition: rotate .3s;
}

.accordion-003[open] summary::after {
    rotate: 90deg;
}

.accordion-003 p {
    transform: translateY(-0.625em);
    /* 10px / 16 */
    opacity: 0;
    margin: 0;
    padding: 0.3em 2em 1.5em;
    color: #333333;
    transition: transform .5s, opacity .5s;
}

.accordion-003[open] p {
    transform: none;
    opacity: 1;
}

.heading-33 {
    border-bottom: 0.1875em solid #f2f2f2;
    /* 3px / 16 */
}

.heading-33 span {
    display: inline-block;
    position: relative;
    padding: 0 0.025em 0.0125em;
    /* 0.4px / 16 and 0.2px / 16 */
    color: #333333;
}

.heading-33 span::before {
    position: absolute;
    bottom: -0.1875em;
    /* -3px / 16 */
    left: 0;
    width: 100%;
    height: 0.1875em;
    /* 3px / 16 */
    background-color: #2589d0;
    content: '';
}