{% extends "layout.html" %}

{% block content %}
<style>
    .custom-container {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 3%;
        font-size: 1vw;
        line-height: 1.8em;
    }
</style>
<div class="custom-container">
    <h1>本サイトについて</h1><br>
    本サイト(ウェブアプリ)は, ステージマジックなどの舞台発表を行う際に必要な<strong>進行表(ステージ表)をブラウザ上で作成する</strong>ためのものです.<br>
    北大奇術研究会およびOBサークルの作業効率化を行うために作成されたため, <strong>小規模な利用を想定して設計されています.</strong> <br>
    これらの点から本サイトの利用は基本的にサークル内のみで使用するにとどめ, <strong>外部への公開は控えていただけると幸いです.</strong><br><br>

    本サイトの使用方法についてはページ上部"How to use"を参照してください.<br>
    特に<strong>初めて使用する方は, 必ず目を通してください.</strong><br><br>

    本サイトを使用している際に<strong>不具合やバグを見つけた場合は, 下記のメールアドレスまでご連絡お願いします.</strong><br>
    直接連絡可能な方はLINEで連絡していただけると気付きやすいです.<br>
    その際は, どのような操作を行ったか, どのような不具合が起きたかを詳しく教えていただけると助かります.<br>
    できるだけ早く修正するように努めますが, すぐに対応できない場合もあるのでご了承ください.<br><br>

    バグ報告に加え, <strong>質問や機能追加, 改善の要望, 新たなウェブアプリ作成の依頼(作成者に余裕があれば)も受け付けています.</strong><br>
    本サイトのソースコードは<a href="https://github.com/hirata0522/stage_table_pdf" target="_blank">GitHub</a>にて公開しているので,
    プログラミングに詳しい方はそちらからPull Requestを送っていただいても大丈夫です.<br>
    また, デプロイやデータベースに関する詳細も記録として<a
        href="https://psychedelic-wildflower-548.notion.site/1eb2034d0df3803086b7e47cdd405c98?pvs=4"
        target="_blank">こちら</a>に残しておくので, このレポジトリを元に新たなウェブアプリを作成する場合は参考にしてください.<br>
    <br>
    なお, 本サイトのWeb公開にはGoogle Cloud Runの無料枠を使用しています. <br>
    そのため無料枠を超過してしまった際には<strong>予告なく本サイトの公開を停止することがあります.</strong><br>
    基本的に小規模利用で無料枠を超えることはないと思いますが, 規約改正等により無料枠自体が廃止されてしまう可能性があります.<br>
    <br>

    <hr>
    サイト作成者: 平田雅朋 (北大奇術研究会 2020年度入会)<br>
    連絡先: masatohirata2001[at]gmail.com (送信時はatを@に変えてください)<br>
    北大奇術研究会OBサークル サボテン: <a href="https://x.com/saboten_hokudai" target="_blank">@saboten_hokudai</a><br>
    ※ トラブルやメールアドレスの変更などにより, 連絡を見逃す可能性もあるのでご了承ください.<br>
    <br>
    <br>
</div>
{% endblock %}