{% extends "layout.html" %}

{% block content %}
<style>
    .custom-container {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 3%;
        font-size: 1.1em;
        line-height: 1.8em;
    }
</style>
<div class="custom-container mt-8">
    <div class="row">
        <div class="col-md-9">

            ここではこのサイトの使用方法を説明します.<br>
            <strong>ステージ表を作成する方は最初に必ず確認してください.</strong><br>
            特に<strong>"注意事項"</strong>の部分は必ず確認してください.<br><br>
            <h2 class="heading-22">注意事項</h2>
            <div style="margin-left: 1em;">
                <h5>このサイトを使用する際はパソコンを使用してください.推奨ブラウザはGoogle Chromeです.</h5>
                <h5>また, 編集画面においてブラウザの前に戻る, 次に進むボタンは決して使用しないでください.</h5>
                <h5>使用してしまった場合はすぐにページ上部"Project"ボタンから編集画面に入りなおしてください.</h5>
                <h5>想定されない動作が引き起こされる可能性があります (致命的なエラーが生じることはないはずです...多分).</h5>
                <br>
            </div>
            <h2 class="heading-22">ステージ表の作成</h2>
            <div style="margin-left: 1em;">
                <h3 class="heading-1">プロジェクトの作成・削除</h3>
                <span>ステージ表を作成するにはまずページ上部の"Projects"(下図A)をクリックします.<br>
                    この画面ではプロジェクトの作成・削除を行うことができます.<br><br> </span>
                <img src="{{ url_for('static', filename='images/project_big_new.png') }}"
                    style="width: 100%; border: 0.05em solid black;">
                <ul class="list-2">
                    <li style="display: flex; align-items: flex-start;">
                        <strong style="margin-right: 0.5em;">プロジェクトリスト &#9;&#9;</strong>
                        <span>プロジェクト名(青文字)をクリックすると編集画面にジャンプします.
                            <br>削除ボタンを押すとプロジェクトが削除されます.
                        </span>
                    </li>
                    <li style="display: flex; align-items: flex-start;">
                        <strong style="margin-right: 0.5em;">プロジェクトの作成&#9;</strong>
                        <span>新たなプロジェクトを作成します.<br>
                            プロジェクト名を入力し, 追加ボタンを押すとプロジェクトが作成され, <br>
                            自動的に編集画面にジャンプします.
                        </span>
                    </li>
                </ul>
                <h3 class="heading-1">プロジェクトの編集</h3>
                <span>編集画面ではステージ表の編集・ダウンロードなどを行うことができます.<br>
                    基本の編集画面は以下の通りですが, データが何も書き込まれていない状態 (プロジェクトを作成した直後など) においては少し異なります.<br>
                    <br> </span>
                <img src="{{ url_for('static', filename='images/edit_new.png') }}"
                    style="width: 100%; border: 0.05em solid black;">
                <details class="accordion-003" style="width: 100%;">
                    <summary>(参考) データが何も書き込まれていない状態の編集画面</summary>
                    <img src="{{ url_for('static', filename='images/edit_initial_new.png') }}"
                        style="width: 100%; border: 0.05em solid black;">
                    <br>
                    <br>
                </details>
                <ul class="list-2">
                    <li style="display: flex; align-items: flex-start;">
                        <strong style="margin-right: 0.5em;">プロジェクト名 &#9;&#9;</strong>
                        <span>プロジェクトの名前です.
                        </span>
                    </li>
                    <li style="display: flex; align-items: flex-start;">
                        <strong style="margin-right: 0.5em;">入力ボックス&#9;</strong>
                        <span>ステージ表の情報を入力するためのテキストボックスです.<br>
                            テキストボックスの配置はステージ表の各行の配置に対応しています.<br>
                            ここでは編集もしくは追加したい行の情報を入力してください.<br>
                            <strong>"舞台"の欄において"引割3","引割1","緞帳"という記述を変更しないようにしてください.</strong><br>
                            <strong>入力補助, チェックが正しく実行されないようになります.</strong><br>
                            <strong>また, 進行名の欄に番号を記入する必要はありません.</strong>
                        </span>
                    </li>
                    <li style="display: flex; align-items: flex-start;">
                        <strong style="margin-right: 0.5em;">入力補助&#9;</strong>
                        <span>入力補助ボタンを押すと, ②の入力ボックスを自動で入力することができます.<br>
                            <strong>記入時には基本的に入力補助を使用してください.</strong><br>
                            詳細は下記の"入力補助"の項目をご覧ください.
                        </span>
                    </li>
                    <li style="display: flex; align-items: flex-start;">
                        <strong style="margin-right: 0.5em;">現在の行&#9;</strong>
                        <span>現時点でステージ表において参照している行番号です. <br>
                            クリックで変更することができ, ⑤の操作を行う際の基準となります.
                        </span>
                    </li>
                    <li style="display: flex; align-items: flex-start;">
                        <strong style="margin-right: 0.5em;">操作&#9;</strong>
                        <span>④現在の行を基準にし, ステージ表に対して基本的な操作を行うことができます.<br>
                            <strong>追加：</strong>現在の行の下に新たな行を追加し, ②入力ボックスの内容を書き込みます.<br>
                            <strong>編集：</strong>現在の行を②入力ボックスの内容で置き換えます.<br>
                            <strong>削除：</strong>現在の行を削除します.<br>
                        </span>
                    </li>
                    <li style="display: flex; align-items: flex-start;">
                        <strong style="margin-right: 0.5em;">高度な操作&#9;</strong>
                        <span>⑥の操作よりも更に複雑な操作を行うことができます.<br>
                            詳細は下記の"高度な操作"の項目をご覧ください.
                        </span>
                    </li>
                    <li style="display: flex; align-items: flex-start;">
                        <strong style="margin-right: 0.5em;">チェック&#9;</strong>
                        <span>作成されたステージ表の内容に矛盾がないか確認します.<br>
                            矛盾がある場合は, どの行に矛盾があるかを表示します.<br>
                            チェックは操作を行う度に自動で実行されます.
                        </span>
                    </li>
                    <li style="display: flex; align-items: flex-start;">
                        <strong style="margin-right: 0.5em;">ステージ表&#9;</strong>
                        <span>作成されたステージ表が表示されています.<br>
                            一番左の列の"No・進行名"に割り振られている番号が④現在の行の番号と対応しています.<br>
                            右上のボタンからpdf形式でダウンロードすることができます.<br>
                        </span>
                    </li>
                </ul>
                <h4 class="heading-33">
                    <span>入力補助</span>
                </h4>
                <span>入力補助は入力ボックスの内容を自動で入力するための機能です.<br>
                    <strong>入力時には基本的にこの機能を使用してください.</strong><br>
                </span>
                <img src="{{ url_for('static', filename='images/input_assist_new.png') }}"
                    style="width: 80%; border: 0.05em solid black;">
                <ul class="list-2">
                    <li style="display: flex; align-items: flex-start;">
                        <strong style="margin-right: 0.5em;">コピー &#9;&#9;</strong>
                        <span>ステージ表の指定された行の内容を入力ボックスに入力します.<br>
                        </span>
                    </li>
                    <li style="display: flex; align-items: flex-start;">
                        <strong style="margin-right: 0.5em;">舞台&#9;</strong>
                        <span>"舞台"のテキストボックスにおいて指定された幕を開閉できます.<br>
                            <strong>幕の開閉は必ずこの機能を使用してください.</strong><br>
                        </span>
                    </li>
                    <li style="display: flex; align-items: flex-start;">
                        <strong style="margin-right: 0.5em;">クリア&#9;</strong>
                        <span>指定されたテキストボックスの入力内容を消去します.<br>
                            "舞台"のテキストボックスについては全ての幕が閉じられ,幕以外の入力が消去されます.
                        </span>
                    </li>

                </ul>
                <img src="{{ url_for('static', filename='images/sousa_new.png') }}"
                    style="width: 50%; border: 0.05em solid black;">
            </div>
            <h4>編集画面</h4>

            <h4>編集方法</h4>
            <h5>入力補助</h5>
            <h4>ステージ表を提出する人</h4>
            <h4>ステージ表を作成する人</h4>

        </div>
        <div class="col-md-3">
            <div class="toc-002"
                style="position: fixed; top: 10%; right: 5%; width: 20%; background-color: #f9f9f9; padding: 1em; border: 1px solid #ddd; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">

                <div>
                    目次
                </div>
                <ol>
                    <li><a href="#">見出し1</a></li>
                    <li>
                        <a href="#">見出し2</a>
                        <ol>
                            <li><a href="#">見出し2-1</a></li>
                            <li><a href="#">見出し2-2</a></li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}